Repository voxpupuli/puppet-collectd, pull requests merged in 2018-07, with the labels that each got.

#823 Add ipc plugin
  README.md
  manifests/plugin/ipc.pp
Labels: enhancement

#824 Add powerdns plugin
  README.md
  manifests/plugin/powerdns.pp
  manifests/plugin/powerdns/recursor.pp
  manifests/plugin/powerdns/server.pp
  spec/classes/collectd_plugin_powerdns_spec.rb
  templates/plugin/powerdns-header.conf.epp
  templates/plugin/powerdns/recursor.conf.epp
  templates/plugin/powerdns/server.conf.epp
Labels: enhancement, needs-work

#822 processes: Add missing options
  lib/puppet/parser/functions/collectd_convert_processes.rb
  lib/puppet/parser/functions/collectd_convert_processmatch.rb
  manifests/plugin/processes.pp
  manifests/plugin/processes/process.pp
  manifests/plugin/processes/processmatch.pp
  spec/classes/collectd_plugin_processes_spec.rb
  templates/plugin/processes-header.conf.epp
  templates/plugin/processes/process.conf.epp
  templates/plugin/processes/processmatch.conf.epp
Labels: enhancement

#827 Add tail_csv plugin
  README.md
  manifests/plugin/tail_csv.pp
  spec/classes/collectd_plugin_tail_csv_spec.rb
  templates/plugin/tail_csv.conf.epp
  types/tail_csv/file.pp
  types/tail_csv/metric.pp
Labels: enhancement

#830 write_riemann plugin fixes and enhancements
  manifests/plugin/write_riemann.pp
  spec/classes/collectd_plugin_write_riemann_spec.rb
  templates/plugin/write_riemann.conf.epp
  templates/plugin/write_riemann.conf.erb
  types/write_riemann/node.pp
Labels: backwards-incompatible, enhancement

#831 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#828 release 10.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#834 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync

#836 modulesync 1.9.4
  .msync.yml
Labels: modulesync

#839 release 10.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#835 Configuration for NFVPE plugins
  manifests/plugin/connectivity.pp
  manifests/plugin/procevent.pp
  manifests/plugin/sysevent.pp
  spec/classes/collectd_plugin_connectivity_spec.rb
  spec/classes/collectd_plugin_procevent_spec.rb
  spec/classes/collectd_plugin_sysevent_spec.rb
  templates/plugin/connectivity.conf.epp
  templates/plugin/procevent.conf.epp
  templates/plugin/sysevent.conf.epp
Labels: enhancement

#840 add AutoLoadPlugin to global options
  manifests/init.pp
  manifests/params.pp
  spec/classes/collectd_init_spec.rb
  templates/collectd.conf.erb
Labels: enhancement
