Repository voxpupuli/puppet-collectd, pull requests merged in 2018-10, with the labels that each got.

#859 Persist the interval in the conf file as a number
  spec/classes/collectd_plugin_postgresql_spec.rb
  templates/plugin/postgresql/database.conf.erb
Labels: bug

#862 release 10.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#853 Add address field to memcached plugin
  examples/plugins/memcached.pp
  manifests/plugin/memcached.pp
  spec/classes/collectd_plugin_memcached_spec.rb
  templates/plugin/memcached.conf.erb
Labels: enhancement
