Repository voxpupuli/puppet-collectd, pull requests merged in 2018-06, with the labels that each got.

#813 Add numa plugin
  README.md
  manifests/plugin/numa.pp
  spec/classes/collectd_plugin_numa_spec.rb
Labels: enhancement

#810 mysql: Add some missing options
  manifests/plugin/mysql/database.pp
  spec/classes/collectd_plugin_mysql_database_spec.rb
  templates/mysql-database.conf.erb
Labels: enhancement

#818 Fixes #662 accept numbers into configuration file
  README.md
  spec/classes/collectd_plugin_python_spec.rb
  templates/plugin/python/module.conf.erb
Labels: bug

#815 turbotstat: Add LogicalCoreNames option
  manifests/plugin/turbostat.pp
  spec/classes/collectd_plugin_turbostat_spec.rb
  templates/plugin/turbostat.conf.epp
  templates/plugin/turbostat.conf.erb
Labels: enhancement

#817 syslog: Add option notify_level
  manifests/plugin/syslog.pp
  spec/classes/collectd_plugin_syslog_spec.rb
  templates/plugin/syslog.conf.epp
  templates/plugin/syslog.conf.erb
Labels: enhancement

#816 ping: set parameters type and add Size
  manifests/plugin/ping.pp
  spec/classes/collectd_plugin_ping_spec.rb
  templates/plugin/ping.conf.epp
  templates/plugin/ping.conf.erb
Labels: enhancement

#820 release 9.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#821 Cleanup how python modules are configured
  README.md
  manifests/plugin/python.pp
  manifests/plugin/python/module.pp
  spec/acceptance/class_plugin_python_spec.rb
  spec/classes/collectd_plugin_cuda_spec.rb
  spec/classes/collectd_plugin_iscdhcp_spec.rb
  spec/classes/collectd_plugin_python_spec.rb
  spec/classes/collectd_plugin_rabbitmq_spec.rb
  spec/defines/collectd_plugin_python_module_spec.rb
  templates/plugin/python/header.conf.epp
  templates/plugin/python/header.conf.erb
  templates/plugin/python/module.conf.erb
  templates/plugin/python/module.conf_config.epp
  templates/plugin/python/module.conf_header.epp
Labels: backwards-incompatible, enhancement
