Repository voxpupuli/puppet-collectd, pull requests merged in 2018-05, with the labels that each got.

#681 Add support for nut plugin (#621)
  README.md
  manifests/plugin/nut.pp
  manifests/plugin/nut/ups.pp
  spec/classes/collectd_plugin_nut_spec.rb
  templates/plugin/nut/ups.conf.erb
Labels: enhancement

#793 release 9.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#794 Fix trailing spaces
  spec/defines/collectd_plugin_snmp_data_spec.rb
  spec/defines/collectd_plugin_snmp_host_spec.rb
  templates/plugin/snmp.conf.erb
Labels: bug, needs-tests

#795 release 9.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#796 Validate bind view parameters
  manifests/plugin/bind.pp
  spec/classes/collectd_plugin_bind_spec.rb
  types/bind/view.pp
Labels: enhancement, needs-tests

#799 doc: tell rake rubocop is needed
  README.md
Labels: docs

#802 Add amqp1 plugin support
  manifests/plugin/amqp1.pp
  spec/classes/collectd_plugin_amqp1_spec.rb
  templates/plugin/amqp1.conf.epp
Labels: enhancement

#800 plugin: add battery plugin
  README.md
  manifests/plugin/battery.pp
  spec/classes/collectd_plugin_battery_spec.rb
  templates/plugin/battery.conf.epp
Labels: enhancement

#798 apache: sync options and add tests
  manifests/plugin/apache/instance.pp
  spec/classes/collectd_plugin_apache_instance_spec.rb
  spec/classes/collectd_plugin_apache_spec.rb
  templates/plugin/apache.conf.erb
  templates/plugin/apache/instance.conf.erb
Labels: enhancement

#801 plugin: update cpu for collectd 5.8
  manifests/plugin/cpu.pp
  spec/classes/collectd_plugin_cpu_spec.rb
  templates/plugin/cpu.conf.epp
  templates/plugin/cpu.conf.erb
Labels: enhancement
