Repository voxpupuli/puppet-collectd, pull requests merged in 2018-03, with the labels that each got.

#758 Fix the MySQL plugin's WsrepStats parameter
  spec/defines/collectd_plugin_mysql_database_spec.rb
  templates/mysql-database.conf.erb
Labels: bug

#743 Adds class ovs_events plugin
  manifests/plugin/ovs_events.pp
  spec/classes/collectd_plugin_ovs_events_spec.rb
  templates/plugin/ovs_events.conf.erb
Labels: enhancement

#746 feat: add package_keyserver parameter
  README.md
  manifests/init.pp
  manifests/params.pp
  manifests/repo/debian.pp
  spec/classes/collectd_init_spec.rb
Labels: enhancement, needs-work

#760 Add intel_pmu plugin
  README.md
  manifests/plugin/intel_pmu.pp
  spec/classes/collectd_plugin_intel_pmu_spec.rb
  templates/plugin/intel_pmu.conf.erb
Labels: enhancement

#761 release 8.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#759 feat: use Stdlib::Fqdn type for package_keyserver
  manifests/init.pp
  metadata.json
Labels: backwards-incompatible, enhancement

#763 modulesync 1.9.0
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync

#762 Install package with options in sensors and disk plugins
  manifests/plugin/disk.pp
  manifests/plugin/sensors.pp
  spec/classes/collectd_plugin_disk_spec.rb
  spec/classes/collectd_plugin_sensors.rb
Labels: enhancement

#765 release 8.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#767 Standardize file permissions, allow non-root
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  manifests/plugin.pp
  manifests/plugin/aggregation/aggregator.pp
  manifests/plugin/apache/instance.pp
  manifests/plugin/chain.pp
  manifests/plugin/curl/page.pp
  manifests/plugin/curl_json.pp
  manifests/plugin/dbi.pp
  manifests/plugin/exec.pp
  manifests/plugin/filecount/directory.pp
  manifests/plugin/filter.pp
  manifests/plugin/filter/chain.pp
  manifests/plugin/genericjmx.pp
  manifests/plugin/mysql/database.pp
  manifests/plugin/network/listener.pp
  manifests/plugin/network/server.pp
  manifests/plugin/oracle.pp
  manifests/plugin/perl.pp
  manifests/plugin/perl/plugin.pp
  manifests/plugin/postgresql.pp
  manifests/plugin/processes.pp
  manifests/plugin/python.pp
  manifests/plugin/python/module.pp
  manifests/plugin/rabbitmq.pp
  manifests/plugin/snmp/data.pp
  manifests/plugin/snmp/host.pp
  manifests/plugin/tail/file.pp
  manifests/plugin/write_graphite.pp
  manifests/typesdb.pp
  spec/defines/collectd_typesdb_spec.rb
Labels: backwards-incompatible, enhancement

#771 Use $collectd::service_name consistently
  manifests/plugin.pp
  manifests/plugin/aggregation/aggregator.pp
  manifests/plugin/apache/instance.pp
  manifests/plugin/chain.pp
  manifests/plugin/curl/page.pp
  manifests/plugin/curl_json.pp
  manifests/plugin/dbi.pp
  manifests/plugin/exec.pp
  manifests/plugin/filecount/directory.pp
  manifests/plugin/filter.pp
  manifests/plugin/filter/chain.pp
  manifests/plugin/genericjmx.pp
  manifests/plugin/mysql/database.pp
  manifests/plugin/network/listener.pp
  manifests/plugin/network/server.pp
  manifests/plugin/oracle.pp
  manifests/plugin/postgresql.pp
  manifests/plugin/processes.pp
  manifests/plugin/python.pp
  manifests/plugin/python/module.pp
  manifests/plugin/rabbitmq.pp
  manifests/plugin/snmp/data.pp
  manifests/plugin/snmp/host.pp
  manifests/plugin/tail/file.pp
  manifests/plugin/write_graphite.pp
  manifests/typesdb.pp
Labels: bug
