Repository voxpupuli/puppet-collectd, pull requests merged in 2018-08, with the labels that each got.

#842 allow puppetlabs/apt 5.x
  metadata.json
Labels: enhancement

#843 Update collectd::plugin::ping example with an example that has been tested to succeeded
  README.md
Labels: docs

#845 Fix wrong closure of Host parameter for curljson template
  templates/curl_json.conf.erb
Labels: bug

#847 modulesync 1.9.6
  .msync.yml
  .travis.yml
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: modulesync
