Repository voxpupuli/puppet-collectd, pull requests merged in 2019-06, with the labels that each got.

#881 Allow puppetlabs/concat 6.x, puppetlabs/stdlib 6.x
  metadata.json
Labels: bug

#876 modulesync 2.7.0
  .msync.yml
  .sync.yml
  .travis.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#882 Add puppet tasks to call collectdctl
  README.md
  metadata.json
  tasks/getval.json
  tasks/getval.py
  tasks/listval.json
  tasks/listval.py
Labels: enhancement

#849 remove reference to collectd::plugin::perl::filename
  manifests/plugin/perl/plugin.pp
Labels: bug

#884 drop EOL Ubuntu 14.04
  metadata.json
Labels: backwards-incompatible

#883 release 11.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
