Repository voxpupuli/puppet-collectd, pull requests merged in 2020-02, with the labels that each got.

#904 Add Mce log plugin
  README.md
  manifests/plugin/mcelog.pp
  spec/classes/collectd_plugin_mcelog_spec.rb
  templates/plugin/mcelog.conf.epp
  types/mcelog/memory.pp
Labels: enhancement

#895 Fix stdlib deprecation warnings
  manifests/plugin/filecount.pp
  manifests/plugin/openvpn.pp
  manifests/plugin/perl/plugin.pp
Labels: enhancement

#880 plugin/java: handle OpenJDK as well
  manifests/plugin/java.pp
  spec/classes/collectd_plugin_java_spec.rb
Labels: bug

#888 Plugin write kafka custom properties and meta
  README.md
  manifests/plugin/write_kafka.pp
  spec/classes/collectd_plugin_write_kafka_spec.rb
  templates/plugin/write_kafka.conf.erb
Labels: enhancement

#907 fixes #901 by excluding the ReportRelative option
  templates/plugin/load.conf.erb
Labels: bug

#908 release 11.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#911 Add pcie_errors plugin
  README.md
  manifests/plugin/pcie_errors.pp
  spec/classes/collectd_plugin_pcie_errors_spec.rb
  templates/plugin/pcie_errors.conf.epp
Labels: enhancement

#914 Add dcpmm plugin
  README.md
  manifests/plugin/dcpmm.pp
  spec/classes/collectd_plugin_dcpmm_spec.rb
  templates/plugin/dcpmm.conf.epp
Labels: enhancement

#910 Add SNMP agent plugin
  README.md
  manifests/plugin/snmp_agent.pp
  spec/classes/collectd_plugin_snmp_agent_spec.rb
  templates/plugin/snmp_agent.conf.epp
  types/snmp_agent/data.pp
  types/snmp_agent/indexkey.pp
  types/snmp_agent/table.pp
Labels: enhancement

#915 modulesync 2.12.0
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#916 release 11.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
