Repository voxpupuli/puppet-collectd, pull requests merged in 2020-09, with the labels that each got.

#955 Add PluginInstanceFormat parameter to virt plugin
  manifests/plugin/virt.pp
  spec/classes/collectd_plugin_virt_spec.rb
  templates/plugin/virt.conf.erb
Labels: enhancement

#956 release 12.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#957 Fix `ignoreselected` typo in protocols.conf.erb template
  manifests/plugin/protocols.pp
  spec/classes/collectd_plugin_protocols_spec.rb
  templates/plugin/protocols.conf.erb
Labels: bug
