Repository voxpupuli/puppet-collectd, pull requests merged in 2020-03, with the labels that each got.

#913 Add dpdk_telemetry plugin
  README.md
  manifests/plugin/dpdk_telemetry.pp
  spec/classes/collectd_plugin_dpdk_telemetry_spec.rb
  templates/plugin/dpdk_telemetry.conf.epp
Labels: enhancement

#918 Require puppet-epel over stahnma-epel
  .fixtures.yml
  metadata.json
Labels: backwards-incompatible

#917 Add CentOS 8 support
  .sync.yml
  .travis.yml
  README.md
  lib/facter/python_dir.rb
  manifests/params.pp
  manifests/plugin/cuda.pp
  manifests/plugin/iscdhcp.pp
  manifests/plugin/python.pp
  manifests/plugin/rabbitmq.pp
  metadata.json
  spec/acceptance/class_plugin_python_spec.rb
  spec/acceptance/class_spec.rb
  spec/acceptance/curl_json_spec.rb
  spec/classes/collectd_plugin_rabbitmq_spec.rb
  spec/spec_helper_acceptance.rb
  spec/spec_helper_methods.rb
Labels: enhancement

#919 New utils parameter to install collectdctl
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  spec/acceptance/class_plugin_python_spec.rb
  spec/classes/collectd_init_spec.rb
Labels: enhancement

#920 write_http/disk is own sub package on CentOS 8
  manifests/plugin/disk.pp
  manifests/plugin/write_http.pp
  spec/acceptance/class_plugin_disk_spec.rb
  spec/acceptance/class_plugin_write_http_spec.rb
  spec/classes/collectd_plugin_disk_spec.rb
  spec/classes/collectd_plugin_write_http_spec.rb
Labels: bug

#922 Release 11.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#923 Ignore more installed versions of python during tests
  spec/unit/python_dir_spec.rb
Labels: bug

#924 Skip Load:ReportRelative as problematic for collectd 5.9.0
  spec/acceptance/class_plugin_load_spec.rb
  templates/plugin/load.conf.erb
Labels: bug

#912 Add Plugin Log parser
  manifests/plugin/log_parser.pp
  spec/classes/collectd_plugin_log_parser_spec.rb
  spec/fixtures/plugins/logparser.conf.default
  templates/plugin/log_parser.conf.epp
  types/log_parser/logfile.pp
  types/log_parser/match.pp
  types/log_parser/message.pp
Labels: enhancement, needs-work

#927 Create processes plugin configuration on RedHat
  manifests/plugin/processes.pp
  manifests/plugin/processes/process.pp
  manifests/plugin/processes/processmatch.pp
  spec/acceptance/define_plugin_processes_process_spec.rb
  spec/acceptance/define_plugin_processes_processmatch_spec.rb
  spec/classes/collectd_plugin_processes_spec.rb
Labels: bug

#928 Release 11.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
