Repository voxpupuli/puppet-collectd, pull requests merged in 2020-05, with the labels that each got.

#936 Logparser template
  manifests/plugin/logparser.pp
  spec/fixtures/plugins/logparser.conf.default
  templates/plugin/logparser.conf.epp
Labels: bug

#939 release 12.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#940 Fix unixsock default path
  manifests/plugin/unixsock.pp
  spec/classes/collectd_plugin_unixsock_spec.rb
Labels: bug

#943 Remove redundant white space from python templates
  templates/plugin/python/module.conf_config.epp
Labels: bug

#944 Add support for Header and Metrics configuration for write_http plugin
  spec/classes/collectd_plugin_write_http_spec.rb
  templates/plugin/write_http.conf.epp
Labels: enhancement

#945 Allow to set separate interval for database resource
  manifests/plugin/dbi/database.pp
  spec/classes/collectd_plugin_dbi_spec.rb
  templates/plugin/dbi/database.conf.erb
Labels: needs-tests, tests-fail
