Repository voxpupuli/puppet-collectd, pull requests merged in 2020-04, with the labels that each got.

#929 Install disk package if required prior CentOS 8
  manifests/plugin/disk.pp
Labels: bug

#930 [collectd] rename log_parser to logparser
  manifests/plugin/logparser.pp
  spec/classes/collectd_plugin_logparser_spec.rb
  spec/fixtures/plugins/logparser.conf.default
  templates/plugin/logparser.conf.epp
  types/log_parser/logfile.pp
  types/logparser/logfile.pp
  types/logparser/match.pp
  types/logparser/message.pp
Labels: backwards-incompatible

#906 Change all `port` parameters to use `Stdlib::Port`
  manifests/plugin/amqp1.pp
  manifests/plugin/dns.pp
  manifests/plugin/hddtemp.pp
  manifests/plugin/mongodb.pp
  manifests/plugin/mysql/database.pp
  manifests/plugin/network/listener.pp
  manifests/plugin/network/server.pp
  manifests/plugin/ntpd.pp
  manifests/plugin/ovs_events.pp
  manifests/plugin/ovs_stats.pp
  manifests/plugin/postgresql/database.pp
  manifests/plugin/statsd.pp
  manifests/plugin/tcpconns.pp
  manifests/plugin/write_graphite/carbon.pp
  manifests/plugin/write_kafka.pp
  manifests/plugin/write_prometheus.pp
  manifests/plugin/write_sensu.pp
  manifests/plugin/write_tsdb.pp
  manifests/plugin/zookeeper.pp
  spec/classes/collectd_plugin_amqp1_spec.rb
  spec/classes/collectd_plugin_mongodb_spec.rb
  spec/classes/collectd_plugin_mysql_database_spec.rb
  spec/classes/collectd_plugin_postgresql_spec.rb
  spec/classes/collectd_plugin_statsd_spec.rb
  spec/classes/collectd_plugin_write_kafka_spec.rb
  spec/classes/collectd_plugin_write_prometheus_spec.rb
  spec/classes/collectd_plugin_zookeeper_spec.rb
  types/redis/node.pp
Labels: backwards-incompatible

#931 modulesync 2.12.0
  Gemfile
Labels: modulesync

#932 release 12.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#937 Snmp agent fix
  manifests/plugin/snmp_agent.pp
  spec/classes/collectd_plugin_snmp_agent_spec.rb
Labels: bug

#938 Add support for Debian 9/10
  .sync.yml
  .travis.yml
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: enhancement
