Repository voxpupuli/puppet-collectd, pull requests merged in 2021-09, with the labels that each got.

#985 Update from voxpupuli modulesync_config
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/acceptance/class_plugin_python_spec.rb
  spec/acceptance/class_spec.rb
  spec/spec_helper.rb
Labels: modulesync

#941 Add ubuntu 20 support
  manifests/plugin/cuda.pp
  manifests/plugin/iscdhcp.pp
  manifests/plugin/rabbitmq.pp
  metadata.json
  spec/classes/collectd_plugin_rabbitmq_spec.rb
  spec/spec_helper_methods.rb
Labels: enhancement

#977 Release 13.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#987 modulesync 4.2.0
  .github/workflows/ci.yml
Labels: modulesync

#988 Make port and host optional for mysql plugin
  manifests/plugin/mysql/database.pp
  spec/classes/collectd_plugin_mysql_database_spec.rb
  templates/mysql-database.conf.erb
Labels: enhancement
