Repository voxpupuli/puppet-collectd, pull requests merged in 2021-06, with the labels that each got.

#972 Emit CommitInterval when writer is configured for database
  spec/classes/collectd_plugin_postgresql_spec.rb
  templates/plugin/postgresql/database.conf.erb
Labels: bug

#975 Drop EoL Puppet 5 support; Add Puppet 7 support / Allow latest dependencies / Drop EoL Debian 8
  .fixtures.yml
  metadata.json
Labels: backwards-incompatible

#976 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .sync.yml
  Dockerfile
  Gemfile
Labels: modulesync
