Repository voxpupuli/puppet-collectd, pull requests merged in 2022-09, with the labels that each got.

#1003 Rely on autorequires of files when using concat
  manifests/config.pp
  spec/classes/collectd_plugin_dbi_spec.rb
  spec/classes/collectd_plugin_exec_spec.rb
  spec/classes/collectd_plugin_genericjmx_spec.rb
  spec/classes/collectd_plugin_postgresql_spec.rb
  spec/classes/collectd_plugin_powerdns_spec.rb
  spec/classes/collectd_plugin_processes_spec.rb
  spec/classes/collectd_plugin_python_spec.rb
  spec/classes/collectd_plugin_write_graphite_spec.rb
  spec/defines/collectd_plugin_filter_chain_spec.rb
Labels: bug

#1004 puppet/epel: Allow 4.x
  metadata.json
Labels: enhancement

#1005 Add support for EL9
  metadata.json
  spec/classes/collectd_init_spec.rb
Labels: enhancement

#1006 Release 14.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
